h1::first-letter{
    font-size: 100px;
    color: red;
    background-color: yellow;
}


h3::before{
    content: url(../images/Ostrich-icon.png);
}

h3::after{
    content: url(../images/Crocodile-icon.png);
}